// Goolge font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

$normal-font: "Poppins", sans-serif;
$special-font: "Satisfy", cursive;
$text-color: #666666;
$white-color: #ffff;
$main-color: #130f40;
$green-color: #27ae60;
$light-gray-color: #f7f7f7;
$yello-color: #ffd700;
